
body {
  font-family: monospace;
  margin: 5em;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

#main-content__left {
  display: flex;
  flex-direction: column;
  flex: 3;
  border-right: 1px solid black;
}

#main-content__title {
  
}

#main-content__breaker {
  display: flex;
  flex-direction: column;
}

#main-content__breaker__plaintext,
#main-content__breaker__ciphertext {
  flex-grow: 1;
}

#breaker-ciphertext-text-area,
#breaker-plaintext-text-area {
  flex-grow: 1;
  height: 10em;
  width: 90%;
}

#main-content__breaker__settings label {
  display: inline-block;
  margin-right: 10px;
}

#main-content__right {
  flex: 1
}

.pocket-encoder-decoder {
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  padding: 2em;
  margin-top: 5em;
}

#pocket-encoder-decoder__inputs {
  display: flex;
  flex-direction: column;
}

#pocket-encoder-decoder-plaintext-text-area,
#pocket-encoder-decoder-ciphertext-text-area {
  flex-grow: 1;
  height: 5em;
  width: 90%;
}

#pocket-encoder-decoder-key-text-area {
  width: 90%;
}

#more-information-button {
  color: gray;
}

#more-information-popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#more-information-popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 10em;
  border-radius: 5px;
  width: 50%;
}

#close-more-information-popup-button {
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}


#possible-plaintext-prompt-popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#possible-plaintext-prompt-popup-content {
  background-color: #fff;
  margin: 7% auto;
  padding: 5em;
  border-radius: 5px;
  width: 50%;
}

#possible-plaintext-prompt-popup-possible-plaintext {
  flex-grow: 1;
  height: 10em;
  width: 90%;
}

#possible-plaintext-prompt-popup-buttons {
  display: flex;
  flex-direction: row;
  gap: 10%;
}
