<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vigenère-Breaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-content">
		<div id="main-content__left">
			<div id="main-content__title">
				<h1>Vigenère-Breaker!</h1>
			</div>
			<div id="main-content__breaker">
				<div id="main-content__breaker__ciphertext">
					<p id="breaker-plaintext__title">Ciphertext<p>
					<textarea id="breaker-ciphertext-text-area" placeholder="Ciphertext here..."></textarea>
				</div>
				<div id="main-content__breaker__plaintext">
					<p id="breaker-plaintext__title">Possible Plaintext<p>
					<textarea id="breaker-plaintext-text-area" readonly placeholder="Plaintext here..."></textarea>
				</div>
				<div id="main-content__breaker__key">
					<p id="breaker-key__title">Possible Key<p>
					<textarea id="breaker-key-text-area" readonly placeholder="Key here..."></textarea>
				</div>
				<form id="main-content__breaker__settings" style="margin-bottom: 2em;">
					<label><input id="is-key-english" type="checkbox">Is Key an English Word?</label>
				</form>
				<div id="main-content__breaker__execute" >
					<button id="breaker-execute-button" onclick="breakVigenere()">Break!</button>
				</div>
			</div>
		</div>
		<div id="main-content__right">
			<div id="main-content__subtitle">
				<p>Tries to break any vigenere cipher using brute-force, dictionary, and statistical attacks!<p>
			</div>
			<div id="information-bar">
				<div id="copyright-tag">
					<p>By Kelompok 11 Kriptografi<p>
				</div>
				<div id="more-information-button">
					<button id="open-more-information-popup-button" onclick="openMoreInformationPopup()">More Information</b>
				</div>
			</div>
			<div class="pocket-encoder-decoder">
				<div id="pocket-encoder-decoder__content">
					<p id="pocket-encoder-decoder__content__title">Pocket Vigenère Encoder-Decoder!<p>
					<div id="pocket-encoder-decoder__inputs">
						<div id="pocket-encoder-decoder-plaintext">
							<p id="pocket-encoder-decoder-plaintext__title">Plaintext<p>
							<textarea id="pocket-encoder-decoder-plaintext-text-area" placeholder="Plaintext here..."></textarea>
						</div>
						<div id="pocket-encoder-decoder-key">
							<p id="pocket-encoder-decoder-key__title">Key<p>
							<textarea id="pocket-encoder-decoder-key-text-area" placeholder="Key here..."></textarea>
						</div>
						<div id="pocket-encoder-decoder-ciphertext">
							<p id="pocket-encoder-decoder-ciphertext__title">Ciphertext<p>
							<textarea id="pocket-encoder-decoder-ciphertext-text-area" placeholder="Ciphertext here..."></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	<div id="more-information-popup">
		<div id="more-information-popup-content">
			<button id="close-more-information-popup-button" onclick="closeMoreInformationPopup()">X</button>
			<p>
Vigenère-Breaker by Kelompok 11 Kriptografi.<br>
Kelompok 11 members:<br>
* Muhammad Rafi Indra (2310511109)<br>
* Muhammad Dwimas Paressa (2310511121)<br>
* Faruq al-Akhyar (2310511107)<br>
<br>
Used resources below to figure out methods of breaking the Vigenere Cipher!
			<p>
			<a href="https://www.cipherchallenge.org/wp-content/uploads/2020/12/Five-ways-to-crack-a-Vigenere-cipher.pdf">
* Five Ways to Crack a Vigenere Cipher by The Mad Doctor ("madness")</a>
			<br>
			<a href="https://inventwithpython.com/cracking/chapter20.html#">
* Cracking Codes with Python: An Introduction to Building and Breaking Ciphers, Chapter 20: HACKING THE VIGENÈRE CIPHER by Al Sweigart</a>
		</div>
	</div>

	<div id="possible-plaintext-prompt-popup">
		<div id="possible-plaintext-prompt-popup-content">
			<h1 id="possible-plaintext-prompt-popup-progress-bar">Breaking... (0/X)</h1>
			<p>Possible Plaintext Prompt</p>
			<p>We are trying to breaking the ciphertext now!</p>
			<p>Ocassionally, you'll get a prompt for a possible plaintext (as legible words can popup in wrong plaintexts)</p>
			<p>Decide if the given possible plaintext is right!</p>
			<br>
			<p>Possible Key</p>
			<textarea id="possible-plaintext-prompt-popup-possible-key" readonly></textarea>
			<p>Possible Plaintext</p>
			<textarea id="possible-plaintext-prompt-popup-possible-plaintext" readonly></textarea>
			<div id="possible-plaintext-prompt-popup-buttons">
				<button id="possible-plaintext-prompt-popup-deny" disabled>Deny</button>
				<button id="possible-plaintext-prompt-popup-confirm" disabled>Correct</button>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
